.optiscroll {
  position: relative;
  overflow: hidden;

  .optiscroll-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }
}

.optiscroll-scrolling .optiscroll-content > * {
  pointer-events: none;
}


.optiscroll-touchfix > .optiscroll-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  border-bottom: 2px solid transparent;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


.optiscroll-v,
.optiscroll-h {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  z-index: 2;
  -webkit-backface-visibility: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .optiscroll:hover > & { opacity: 1; }
}

.optiscroll-v {
  top: 4px;
  right: 0;
  bottom: 4px;
  width: 0;
}

.optiscroll-h {
  left: 4px;
  right: 4px;
  bottom: 0;
  height: 0;
}

.optiscroll-vtrack,
.optiscroll-htrack {
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.3);
  border-radius: 2px;
  opacity: 0;
  box-shadow: 0 0 1px #FFF;
  
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transform: translate(0%, 0%);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.optiscroll-vtrack {
  width: 3px;
  right: 4px; 

  .vtrack-on > .optiscroll-v & { opacity: 1; }
}

.optiscroll-htrack {
  height: 3px;
  bottom: 4px; 

  .htrack-on > .optiscroll-h & { opacity: 1; }
}


.vtrack-on.htrack-on > .optiscroll-v { bottom: 8px; }
.vtrack-on.htrack-on > .optiscroll-h { right: 8px; }