* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  border: none;
  font: 18px/1.35 'Titillium Web', Helvetica, sans-serif; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}


h1 {
  margin: 0;
  font-weight: 300;
  color: #F66242;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  color: #F66242;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}

pre {
  color: #F66242;
  font-size: 0.8em;
}

code {
  background: #FFF;
  border: 1px solid #D5D5D5;
  padding: 0.2em 0.8em 0.3em;
  border-radius: 3px;
}



.btn {
  display: inline-block;
  background: #F66242;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
}


/* 
 * MAIN NAV 
 */

.m-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #4A4A4A;
  color: #FFF;
  line-height: 34px;
}

.m-nav ul {
  max-width: 1000px;
  list-style: none;
  margin: 0 auto;
  padding: 0 2em;
}

.m-nav li {
  display: inline-block;
  margin-right: 2em;
}

.m-nav a {
  color: inherit;
  text-decoration: none;
}



/* 
 * MAIN CONTAINER 
 */

.m-wrapper {
  width: 100%;
  height: 100%;
  border-top: 34px solid transparent;
}

.m-wrapper > .optiscroll-v .optiscroll-vtrack {
  width: 20px;
  background: #F66242;
  border-radius: 20px;
}

.m-wrapper > .optiscroll-h .optiscroll-htrack {
  height: 20px;
  background: #F66242;
  border-radius: 20px;
}




/* 
 * MAIN HEADER 
 */

.m-header {
  padding: 60px 0;
  background: #F6F2F2;
  text-align: center;
  z-index: 5;
}


.m-header p {
  margin: 1.4em 0 1.5em;
}

.m-header .btn {
  display: block;
  width: 200px;
  margin: 0 auto 0.5em;
  padding: 0.8em 0;
}

.m-header pre {
  margin-top: 0.5em;
}




/* 
 * SECTIONS
 */

.section {
  margin: 0 auto;
  padding: 2em 1em 4em;
  border-bottom: 2px solid #DDD;
  max-width: 1000px;  
}

.section:after { 
  content: ''; 
  clear: both;
  display: table;
}





/* 
 * FEATURES SECTION
 */

.s-features {
  text-align: center;
}

.s-features ul {
  display: inline-block;
  margin: 0;
  text-align: left;
  font-size: 1.2em;
}

.s-features li {
  margin-bottom: 0.4em;
}


/* 
 * USAGE SECTION
 */

.s-usage {}

.s-usage .optiscroll {
  float: left;
  width: 48%;
  height: 200px;
  background: #F6F2F2;
}

#os2 {
  float: right;
}

.s-usage .optiscroll-content {
  padding: 0 1em 1em;
}


/* STYLE FOR INLINE SCROLLBARS */
#os2.vtrack-on .optiscroll-content {
  margin-right: 12px; /* scrollbar size */
}

#os2.htrack-on .optiscroll-content {
  margin-bottom: 12px; /* scrollbar size */
}

#os2.vtrack-on .optiscroll-v,
#os2.htrack-on .optiscroll-h { opacity: 1; } 

#os2 .optiscroll-v {
  top: 0;
  bottom: 0;
  width: 12px; /* scrollbar size */
  background: #DADDDD;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

#os2 .optiscroll-vtrack {
  width: 8px;
  right: 2px;
}

#os2 .optiscroll-h {
  left: 0;
  right: 0;
  height: 12px; /* scrollbar size */
  background: #DADDDD;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

#os2 .optiscroll-htrack {
  height: 8px;
  bottom: 2px;
}

#os2.vtrack-on.htrack-on .optiscroll-v { border-bottom: 12px solid transparent; } /* scrollbar size */
#os2.vtrack-on.htrack-on .optiscroll-h { border-right: 12px solid transparent; } /* scrollbar size */















.example .optiscroll {
  float: right;
  margin-left: 20px;
  width: 45%;
  height: 200px;
  font-size: 18px;
  line-height: 1.6;
  border: 1px solid #DDD;
  background: #FFF;
}

.example .optiscroll-content p {
  padding: 0 20px;
  font-family: serif;
}



#os1ev {
  height: 5.2em;
  overflow: hidden;
  color: #777;
}





#os2 .optiscroll-content p {
  width: 120%;
}







